---
title: Home
---
<script>
  var myUrl = location.href;
  var old = /http:\/\/jozefg.bitbucket.org/gi;
  var new1='http://code-co.blogspot.com';
  shouldRedirect = /http:\/\/.*?\/[2013|2012]/;
  if(shouldRedirect.test(myUrl)){
      myNewUrl = myUrl.replace(old, new1);
      window.location = myNewUrl;
  }
</script>

<p>Welcome to my outdated blog.</p>
<p> This was personal blog. I leave these posts around to preserve links</p>
<p> Please refer to <a href="http://jozefg.github.io">jozefg.github.io</a> for a more recent page.</p>
<h2>Recent Posts</h2>
$partial("templates/post-list.html")$

<p><a href="/archive.html">And many more</a></p>
<h2> Tags </h2>
$tags$
